/*_________________________________*/
/*_Czcionki_*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,600&subset=latin-ext');

/*_________________________________*/
/*_Fontello - czyli te fajne ikonki xD_*/
@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?6525345');
      src: url('./font/fontello.eot?6525345#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?6525345') format('woff'),
           url('./font/fontello.ttf?6525345') format('truetype'),
           url('./font/fontello.svg?6525345#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}   
.demo-icon{
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
#compulsory {
  font-size: 1.6vmin;
  color: red;
}
#contact {
	width: 96vw;
	height: 96vh;
}
#fourth {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
  width: 100vw;
  height: 100vh;
}
#contact_form {
  max-width: 90vmin;
  margin-left: auto;
  margin-right: auto;
  max-height: 90vmin;
  /*border: 1vmin dashed #C4DFE6;*/
  padding: 2vmin;
  /*background-color: #003b46;*/
  background-color: rgba(0,0,0,0.5);
  border-top-right-radius: 15vmin;
  border-bottom-right-radius: 0vmin;
  border-bottom-left-radius: 15vmin;
}
#contact_input p {
  font-family: monospace;
  color: #C4DFE6;
  margin-bottom: 1vmin;
}
input, textarea {
  font-family: monospace;
  margin-bottom: 2vmin;
  font-size: 3vmin;
}
.open_q {
  width: 100%;
  height: 3em;
}
.form_element {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #C4DFE6;
}
#center {
  text-align: center;
}

/*_______________________________________________________*/
/*_Ustawienia ogólne__*/
* {
	padding: 0;
	margin: 0;
}
html, body {
	margin:0;
	padding:0;
	height:100%;
	width:100vw;
	cursor: default;
	user-select: none;
}
body {
	font-family: 'Jura', sans-serif;
	/*font-family: 'Comfortaa', cursive;*/
	font-size: 3vmin;
  width:100vw;

  /*background-color: #66A5AD;*/

  background-image: url(images/bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  color: #C4DFE6;
  overflow-y: hidden;
}

/*Landing Page*/
/*________________________________________________________*/
/*_To działa, tu proszę ne grzebać :P_*/
.help {
	height: 100%;
	width: 100%;
	background: #000;
	position: absolute;
	z-index: 2;
  background-image: url("images/var3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.intro {
	text-align:  center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.intro span {
  margin-left: auto;
  margin-right: auto;
	display: block;
}
.text1 {
	color:white;
	font-size: 80px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	position: relative;
	animation: text 4s 1;
}
.intro a {
	letter-spacing: 1px;
	text-shadow:none;
 	transition: all .5s ease-in;
	background: none;
	border: none;
}
.intro a:hover {
	letter-spacing:5px;
	color: white;
	text-shadow: 0px 0px 5px #00CED1;
}
/*
#skip_intro{
  color: white;
  margin-left: 5%;
  margin-top: 90%;
  position: fixed;
  animation: fOut 5s 1;
  animation-fill-mode:forwards;
}
*/
@keyframes fOut{
  0% {
  color:white;
  }
  50%{
  color:white;
    opacity: 1;
  }
  80%{
  color:white;
    opacity: 0;
  }
  100%{
  color:white;
    opacity: 0;
  }
}
.text2 {
	font-size: 25px;
	color: white;
  animation: fIn 5s 1;
  animation-fill-mode:forwards;
}

#imgBg {
  position: fixed;
  height: 5vmin;
  top: 5vmin;
  left: 5vmin;
  animation: fIn 7s 1;
}
@keyframes bgIn {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fIn {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@keyframes text {
	0%{
		color: black;
		margin-bottom: -40px;
		letter-spacing: 8px
	}
	30%{
		letter-spacing: 40px;
		margin-bottom: -40px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}

/*_________________________________________*/
/*_Ustawienia dla pojemników - czyli wszystkich "stron"_*/
/*_głównie chodzi o to by faktycznie zajmowały całą stronę_*/
/*_oraz przypisanie ich display jako flexbox_*/
.container {
	height: 100vh;
	width:100vw;
  background-color: rgba(5,15,100,0.3);
}
.container div h2 {
	margin: 2vmin;
	text-align: center;
}
/*_Ustawienia pomocnicze - zostały użyte do testowania układu strony_*/
.item {
	margin: 1vmin;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  position: relative;
}
/*_Ustawienia dla grup (2 i 3 strona)_*/
/*_Ustawienie flex direction na kolumny_*/
.group {
	width: 85vw;
	height: 80vh;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

	flex-direction: column;
  justify-content: center;
	align-items: center;
  overflow: hidden;
}

/*_________________________________*/
/*_Ustawienia dla linków na pierwszej stronie_*/
/*_Hover i takie tam_*/
/*_PAMIĘTAĆ - NIE ustawiać outline na none_*/

a div{
	transition: all .5s ease-in;
}

a:link {
	text-decoration: none;
}
a:visited  {
	text-decoration: none;
}
a div:hover {
	text-decoration: none;
	transition: all .5s ease-in;
}

#first div:hover {
	transition: all .5s ease-in;
	height: 30vmin;
	width: 30vmin;
	margin-left: 0vmin; 
	margin-right: 0vmin;
	font-size: 18vmin;
	text-shadow:0px 0px 10px #FFF;
}
/*
div .icon-user-plus:hover {
	color: #FFA726;
	transition: all .5s ease-in;
}*/

/*_________________________________*/
/*_Pierwsza strona - z przyciskami_*/
/*_Ustawienia flexboxa_*/
#first {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

    width: 100vw;  
    height: 80vh;
}
/*_Ustawienia wszystkich divów na pierwsze stronie_*/
/*_Ich rozmiar i umiejscownie_*/
#first div {
	height: 25vmin;
	width: 25vmin;
	display: flex;
	margin-left: 2.5vmin; 
	margin-right: 2.5vmin;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	font-size: 15vmin;
	transition: all .5s ease-in;
  color: #C4DFE6;
}

.tile {
  height: 20vmin;
  width: 20vmin;
  background-color: black;
  background-color: rgba(0,0,0,0.5);
}

#first p {
	font-size: 3vmin;
}

#first div p {
	margin-top: 1vh;
}
/*_Ustawnia font size w i_*/

/*_________________________________*/
/*_Druga i trzecia strona_*/
/*_Ustawienia flexboxa _*/
/*_i dodatkowe ustawienia dla drugiej strony _*/
#third, #second {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#third i {
  margin: 1vmin;
  font-size: 8vmin;
}

.item{
  padding-bottom: 1.5vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  padding-top: 1.5vmin;
}
/*_Ustawienia dla wszyskich diwów w grupach_*/
.nice_shape{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    justify-content: center;
    align-items: center;

    border-radius: 0vmin 10vmin 0vmin 10vmin;
    min-height: 20vh;
    max-height: 20vh;
}
/*_Ustawienia flexboxa dla textu koła naukowego _*/
/*_po prostu ładne wycentrowanie _*/
#wheelP, #loc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    justify-content: center;
    align-items: center;
    border-radius: 10vmin;
    padding: 5vmin;
    text-shadow: 0px 0px 5px #000;
}
/*_Ustawienia dla dwóch pojemników na divy _*/
/*_kilka divów w jednej linii poziomej _*/
#bodyM1, #tech, #tech2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: stretch;
    height: 20vmin;
}
/*sposób na wystające poza div elementy*/
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: "";
     clear: both;
     height: 0;
     }


.clearfix { display: inline-block; }
/* start commented backslash hack \\*/
/* html .clearfix { height: 1&#37; }*/
.clearfix { display: block; }


/* close commented backslash hack */
/*_Ustawienia dla divów w pojemnikach_*/
#bodyM1 div, #tech div, #tech2 div{
  width: 100%;
  height: 100%;
  text-align: center;
}
/*_Ustawienia obrazków_*/
#css, #html, #csharp, #net, #js {
  max-width: 85%;
  max-height: 85%;
  transition: all .5s ease-in;
}

#css:hover, #html:hover, #csharp:hover, #net:hover, #js:hover {
  max-width: 95%;
  max-height: 95%;
  transition: all .5s ease-in;
}




/*_________________________________*/
/*_Ustawienia naszego footera_*/
/*_o po prostu ładne, pełne kolumny_*/
#last {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: stretch;


  overflow: hidden;
  max-height: 65vh;
  min-height: 65vh;
	background-color: #478594;
	height: 100%
}

#for {
  max-height: 66%;
  min-height: 66%;
	text-align: center;
	font-size: 2vh;
}

#for div {

	background-color: #478594;
}
/*_Wszystkie divy bezpośrednio w footerze mają określoną szerokość_*/
#last > div {

	width: 30%;
}

/*_________________________________*/
/*_Ustawienia dla sektora z logami_*/
#logos, #more {
  	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

	  flex-direction: column;
  	justify-content: center;
  	align-items: center;
}
/*_Ustawienie max szerokości dla diva obrazków_*/
#logos div {
	height: auto;
	width: auto;
	max-width: 20vmin;
}
/*_Ustawienia obrazków_*/
#logos div img {
    max-height: 100%;
    max-width: 100%;
}


/*________________________________*/
/*_Ustawnia dla dodatkowych ikonek_*/
/*_i tak - kiedyś zrobimy sobie google driva xD_*/
#more i {
	font-size: 10vmin;
	margin-top: 2vmin;
}
#more {

}
.icon-github-circled-alt2:hover {
	color: black;
	transition: all .5s ease-in;
}
.icon-cloud:hover {
	color: red;
	transition: all .5s ease-in;
}
.icon-facebook:hover {
	color: #3b5998;
	transition: all .5s ease-in;
}
.icon-facebook, .icon-cloud, .icon-github-circled-alt2{
	transition: all .5s ease-in;
  color: #C4DFE6;
}


#loc p{
	text-align: center;
	font-size: 3vmin;
}

#foot{;
  font-size: 1.5vmin;
}


.bg1 {
  margin-bottom: 0;
  margin-top: auto;
  background-image: url(images/bg2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 20%;
  min-height: 20%;
  min-width: 100%;
  max-width: 100%;
}
.bg2 {
  margin-bottom: 0;
  margin-top: auto;
  background-image: url(images/bg2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 34%;
  min-height: 34%;
  min-width: 100%;
  max-width: 100%;
}

/*___________________________NAV___________________________*/
#nav {
  position: fixed;
  left: 10px;
  top: 40vh;
  font-size: 2vmin;
}
#nav:hover {
}
#nav a div{
  color: white;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}
#nav a:link {
  text-decoration: none;
}
#nav a:visited  {
  text-decoration: none;
}
#nav a:hover {
  text-decoration: none;
}
#nav1 div:hover, #nav2 div:hover, #nav3 div:hover, #nav4 div:hover,#nav5 div:hover {
  color: black;
}
.nav_move {
  opacity: 0;
}


/*________________________TEAM____________________________*/
#headM {
    min-height: 20vh;
    max-height: 20vh;
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#jd {
  display: inline-block;
  vertical-align: center;
}

#headMbg {
  height: auto;
  width: auto;
}

.img {
    min-height: 20vh;
    max-height: 20vh;
}
/*
#headM{
  background: url(images/bond.png);
  background-color: none;
  background-repeat: no-repeat;
  background-size: 20vh;
  height: 20vh;
  margin: 0;

}
#hearthM {

 }
#headM:hover{

}
#hover1 {
  position: absolute;
  margin: 0;
  width: 30vmin;
  overflow: hidden;
  text-align: justify;
  opacity: 0;
}
#hover1:hover {
  animation: animationAnim 2s 1;
  color: red;
  width: auto;
  overflow: visible;
  padding-left: 35vmin;
  padding-top: 2vmin;
  padding-right: 5vmin;
  opacity: 1;
}

@keyframes animationAnim {
  0%{
  opacity: 0;
  padding-left: 0vmin;
  padding-top: 2vmin;
  }
  50% {
  opacity: 0;
  padding-left: 30vmin;
  }
  100%{
  padding-left: 35vmin;
  opacity: 1;
  }
}
*/

/*Changes for Mobile*/
/*________________________________________________________*/
/*_Czyli nasza ułomna responsywność_*/
/*_nad tym trzeba mocno popracować_*/
